.navbar {
    background: #515151;
    padding: 1rem;
    width: 100%;
    height: 50px;
}

.navbar__links {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.navbar__links a {
    color: #ffffff;
}